@import '../../Styles/utils';


.MainContainer {
    width: 100%;
    height: 100%;
    @include flexCenter(row);
    align-items: flex-start;
    overflow: hidden;
    position: relative;
  
}


@media (max-width: $laptop) {
    .MainContainer {
        flex-direction: column;
    }
}
  