@import '../../Styles/btns';
@import '../../Styles/utils';

.Price {
   
 
    position: absolute;
    background-color: $greybackground;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
   
    width: 550px;

    height: 72px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;

    .Price-Container {

        @include flexCenter(row);
        justify-content: space-evenly;
        width: 100%;
        height: 100%;

        strong {
            color: $blackText;
        }


      

        span {
            color: $greyText;
            font-size: 25px;
        }

        p {
            color: $greyText;
            font-weight: 500;
            font-size: 16px;
        }



       
    }
 


   
}


@media (max-width: $laptop) {

    .Price {
        position: fixed;
        width: 400px;
        height: 50px;

        .Price-Container {
            span {
                font-size: 25px;
            }
    
            p {
                font-size: 14px;
            }

        }
    }
    
}


@media (min-width: $mobile) and (max-width: $mobileLarge) {
    .Price {
      
        width: 350px;
        height: 50px;
        text-align: center;

        .Price-Container {
            @include flexCenter(row);
            justify-content: space-evenly;
            span {
                font-size: 24px;
            }

            strong {
                font-size: 14px;
            }
    
            p {
                font-size: 14px;
            }

        }
    }
}