@import '../../Styles/btns';
@import '../../Styles/utils';


.Modal-SlideDriving {
   @extend %modal;
    


    .Modal-Slide-Content-Left {
       height: 100%;
        @include flexCenter(column);
      
        
        
        .Slide-Video {
            height: 50%;
          
          
            
        }
    }

    .Modal-Slide-Content-Right {
        height: 80%;
        @include flexCenter(column);
        justify-content: space-between;

        .Modal-Slide-Content-Right-Text {
            width: 90%;
            margin: 0 auto;

            h1 {
                font-size: 24px;
                padding-bottom: 0.5rem;
            }

            p {
                color: $greyText;
            }
        }

        .Modal-Slide-Content-Right-Add {
            text-align: center;
            

          
            p {
                padding-bottom: 2rem;
                padding-top: 0.5rem;
             
            }

            .SelfDriving-Btn-Add {
                @extend %detailsBtn;
                background-color: $btnSelelected;
                color: white;
                width: 150px;
                
            }
    
            .SelfDriving-Btn-Remove {
                @extend %detailsBtn;
                width: 150px;
    
            }

        }



        
    }

   



    .ModalClose-Btn {
       @extend %modalClose-Btn
    }
  

}
