@import './utils';



%radioBtn-Text {
    color: $greyText;
    font-weight: bold;
    width: 100%; 
    border: 1px solid $greyText;
    padding: 1rem 2rem;
    border-radius: 100px;
    display: block;
    @include flexCenter(row);
    justify-content: space-between;
    margin: 1rem 0;
    
    
}


%selectedRadioInput {
    border: 3px solid $btnSelelected;
    color: $blackText;
   
}

// Radio Buttons with Imgs

    // This goes on the label
    %radioBtn-Img {
        
        height: 54px;
        overflow: hidden;
        cursor: pointer;
    }


    // This goes on the img within the label

    %radioBtn-ImgEl {
        height: 40px;
        width: 40px;
        overflow: hidden;
    }


    // This goes on the actual Img within the label (for selected state)

    %selectedRadioInput-Img {

        box-shadow:  0 0 0 3px $btnSelelected;
        padding: 3px;
        box-sizing: content-box;
        border-radius: 50%;
        
    }

    


%detailsBtn {
    background: $greybackground;
    border:none;
    border-radius: 100px;
    min-width: 80px;
    max-width:160px;
    padding: 0.5rem 2rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.4s ease;
    font-size: 12px;


}

%detailsBtn:hover {
    background: darken($greybackground, 5%);
}

%detailsBtn:focus {
    outline: none;
}