// Color Vars

$blackText: #171a20;
$greyText: #5c5e62;
$greybackground: #f4f4f4;
$btnSelelected: #3e6ae1;

// Media Query Variables

$mobile: 300px;
$mobileLarge: 425px;
$tablet: 900px;
$laptop: 1025px;
$mediumLaptop: 1630px;



// Mixins

@mixin flexCenter($direction) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: center;
}


// Right Content Child Componeent Styling 

%RightContent-Child {
    height: 40vh;
}


// Modal Slide Styling (Main Container)

%modal {
    height: 550px;
    width: 850px;
    min-width: 850px;
    @include flexCenter(row);
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    margin: 0 2rem;
    position: relative;
    
    
}


