@import '../../Styles/utils';


.ImgSlider {
    width: 100%;
    height: 100%;
    
  
    @include flexCenter(row);
    justify-content: space-between;

    .Slider-Btn {
        height: 30px;
        width: 30px;
        background-color: $greybackground;
        @include flexCenter(row);
        border-radius: 50%;
        cursor: pointer;
        transition: opacity 0.3s ease-out;
        
    }

    .Slider-Btn.Hide {
        opacity: 0;
    }
    


    .ImgSlider-Container {
        margin: 0 auto;
        width: 100%;
        height: 100%;
       overflow: hidden;

        .Slide {
            width: 100%;
            transform: scale(1.3);
      
      
        }
    }
      


        
   
}



