@import '../../Styles/btns';
@import '../../Styles/utils';


.Modal-Slide {
    @extend %modal;
    
    .Modal-Slide-Content-Left {
       height: 100%;
        
        img {
            height: 100%;
            
        }
    }

    .Modal-Slide-Content-Right {
        height: 80%;

        .Modal-Slide-Content-Right-Text {
            width: 90%;
            margin: 0 auto;

            h1 {
                font-size: 24px;
                padding-bottom: 0.5rem;
            }

            p {
                color: $greyText;
            }
        }
        
    }

   
    .ModalClose-Btn {
        @extend %modalClose-Btn
    }
   
}



@media (max-width: $tabletModal) {

    .Modal-Slide {
        .Modal-Slide-Content-Left {
           height:100%;
           overflow: hidden;
           @include flexCenter(row);
           
            
            
            img {
                transform: scale(1.4);
                
            }
        }

    }
    
}






