@import '../../Styles/btns';
@import '../../Styles/utils';


.Modal-Slide {
    // height: 550px;
    
    // width: 850px;
    // min-width: 850px;
    // @include flexCenter(row);
    // background-color: white;
    // border-radius: 15px;
    // overflow: hidden;
 
    // margin: 0 2rem;
    // position: relative;
 

    @extend %modal;
    


    .Modal-Slide-Content-Left {
       height: 100%;
        
        
        img {
            height: 100%;
            
        }
    }

    .Modal-Slide-Content-Right {
        height: 80%;

        .Modal-Slide-Content-Right-Text {
            width: 90%;
            margin: 0 auto;

            h1 {
                font-size: 24px;
                padding-bottom: 0.5rem;
            }

            p {
                color: $greyText;
            }
        }
        
    }

   



    .ModalClose-Btn {
        @extend %modalClose-Btn
    }
   
}






