@import '../../Styles/btns';
@import '../../Styles/utils';

.Modal {
    position: fixed;
 
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
    @include flexCenter(column);

   


    
    .Modal-Slider {
        height: 60vh;
        width: 100%;
        margin-bottom: 5rem;
        position: relative;

        .Modal-Slider-Btn {
            position: absolute;
            top: 50%;
            transform: translate(-50%,-50%);
            z-index: 1000;
            background-color: red;
            height: 50px;
            width: 50px;
            @include flexCenter(row);
            border-radius: 50%;
            cursor: pointer;
            background-color: rgba($greybackground, 0.2);
            
             
            i {
                color: white;
                transform: scale(1.5);
            }
            
        }

        .Modal-Slider-Btn.Left {
            left: 20%;
        }

        .Modal-Slider-Btn.Right {
            right: 20%;
        }

        .Modal-Slides-Container {
           


        }

        .rec-arrow-right {
            margin-right: 5rem;
        }

        .rec-arrow-left {
            margin-left: 5rem;
        }


        .rec.rec-arrow {
            background-color:rgba($greybackground, 0.2);
            color: white;
           
            box-shadow: none;
            
        
            
        
        }

      
        .rec.rec-arrow:hover {
            box-shadow: 0 0 5px 0px $greybackground;
        }

        .rec.rec-arrow:disabled {
            visibility: hidden;
            
        }

        .rec.rec-dot {
            box-shadow: none;
            background-color: rgba($greybackground, 0.3);
        }

        .rec.rec-dot_active {
            background-color: white;
            box-shadow: none;
        }

        


        
   
        

       
    }
    
}