@import '../../Styles/utils';


@font-face {
    src: url('../../fonts/TESLA.ttf');
    font-family: 'logo';
    
}

.NavBar {
    @include flexCenter(row);
    justify-content: space-between;
    width: 98%;
    margin: 0 auto;
    height: 52px;


    .leftNav {
        font-family: logo;
        text-transform: uppercase;
        color: $blackText;
        font-size: 1.2rem;
        letter-spacing: 0.6rem;
    }

    .rightNav {
        color: $greyText;
        font-weight: bold;
    
        i {
            margin-right: 0.5rem;
            transform: scale(1.2);
            color: $greyText;
            
        }
    }

    
}