@import '../../Styles/btns';
@import '../../Styles/utils';


.Modal-SlideOrder {
    @extend %modal;
    @include flexCenter(column);
    justify-content: flex-start;
    position: relative;


    .Modal-SLideOrder-Title {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 100;
        padding-top: 2rem;
        color: $blackText;
    }
    


    .Modal-SlideOrder-Content-Left {
       height: 75%;
       width: 100%;
       @include flexCenter(column);
       justify-content: space-evenly;
       overflow: hidden;
        
        
        img {
            height: 100%;
            transform: scale(1.5);
            
          
            
        }
    }

    .Modal-SlideOrder-Content-Right {
       
        width: 100%;
        

        .Modal-SlideOrder-Content-Right-Text {
            width: 90%;
            margin: 0 auto;
            @include flexCenter(column);

        

            .Order-Btn {
                @extend %detailsBtn;
                background-color: $btnSelelected;
              
                width: 350px;
                max-width: 350px;
                height: 50px;
                font-size: 16px;

                a {
                    color: white;
                    text-decoration: none;
                }
            }

            .Order-Btn:hover {
                background-color: darken($btnSelelected, 10%);
            }


            
        }


      
        
    }

   



    .ModalClose-Btn {
        @extend %modalClose-Btn
    }
   

}


@media (max-width: $tablet) {
    .Modal-SlideOrder {
        justify-content: center;

        .Modal-SLideOrder-Title {
          
            font-size: 1.7rem;
        }
    
   
        
    
    
        .Modal-SlideOrder-Content-Left {
           height: 40%;
      
          

           img {
           
            transform: scale(1.3);
            }

        }

        .Modal-SlideOrder-Content-Right {


        
        .Modal-SlideOrder-Content-Right-Text {
         

        

            .Order-Btn {
              
              
                width: 250px;
               
                height: 50px;
                font-size: 16px;

                a {
                    color: white;
                   
                }
            }
        }

    }
       


    }


}

