@import '../../Styles/btns';
@import '../../Styles/utils';

.Powertrain {

    width: 100%;
    margin-bottom:8rem;
    @extend %RightContent-Child;

  
    
  
    

    h4 {
        color: $greyText;
    }

   

    .Powertrain-Option-Label {
        @extend %radioBtn-Text;
        cursor: pointer;
        
       
    }




    .Powertrain-Option-Input:checked+.Powertrain-Option-Label {
       @extend %selectedRadioInput;
     }

     
    .Powertrain-Option-Input {
        display: none;
    }

    .Powertrain-Details-Container {
        @include flexCenter(row);
        .Feature-Details-Btn {
            @extend %detailsBtn;
           
        }

    }
   


     
}